<%- include('../includes/head') %>

<div class="wrapper">
  <%- include('../includes/sidebar') %>
  <div class="main-panel">
    <%- include('../includes/navbar') %>
    <div class="content">
      <div class="row">
        <% if(!homeDatas){ %>
        <h1>Datas could not found!</h1>
        <% } else { %>

        <div class="col-lg-6">
          <div class="card card-chart">
            <div class="card-header">
              <h3 class="card-title">Phone Number</h3>
            </div>
            <div class="card-body">
              <div
                class="chart-area d-flex justify-content-center align-items-center"
              >
                <h4><%= homeDatas.phoneNumber %></h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category"></h5>
              <h3 class="card-title">Instagram</h3>
            </div>
            <div class="card-body">
              <div
                class="chart-area d-flex justify-content-center align-items-center"
              >
                <h4>
                  <a href="<%= homeDatas.instagram %>">instagram link</a>
                </h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category"></h5>
              <h3 class="card-title">Telegram</h3>
            </div>
            <div class="card-body">
              <div
                class="chart-area d-flex justify-content-center align-items-center"
              >
                <h4>
                  <a href="<%= homeDatas.telegram %>">telegram link</a>
                </h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category"></h5>
              <h3 class="card-title">Facebook</h3>
            </div>
            <div class="card-body">
              <div
                class="chart-area d-flex justify-content-center align-items-center"
              >
                <h4>
                  <a href="<%= homeDatas.facebook %>">facebook link</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <% } %>

        <div class="col-12 d-flex justify-content-center align-items-center">
          <button
            type="button"
            class="btn btn-primary editHeader"
            data-toggle="modal"
            data-target="#exampleModal"
            data-whatever="@mdo"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/fixed_plugin') %> <%- include('../includes/end') %>
