<%- include('../includes/head') %>

<div class="wrapper">
  <%- include('../includes/sidebar') %>
  <div class="main-panel">
    <%- include('../includes/navbar') %>
    <div class="content">
      <div class="row">
        <div class="col-12">
          <button class="btn add-feedback-btn">Add Feedback</button>
        </div>
      </div>

      <div class="row">
        <% if(feedbacks.length > 0) { %> <% for(let feedback of feedbacks) { %>
        <div class="col-lg-4">
          <div class="card card-chart">
            <div class="card-header d-flex justify-content-between">
              <h3 class="card-title"><%= feedback.title %></h3>
              <div class="d-flex">
                <span>
                  <button
                    class="btn edit-feedback"
                    type="button"
                    value="<%= feedback._id %>"
                  >
                    <i class="tim-icons icon-pencil text-info"></i>
                  </button>
                </span>
                <span>
                  <button
                    class="btn delete-feedback"
                    value="<%= feedback._id %>"
                  >
                    <i class="tim-icons icon-trash-simple text-danger"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="card-body mx-auto">
              <img src="/<%= feedback.image %> " alt="" />
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <h4><%= feedback.authorName %></h4>
                <h4><%= feedback.authorProfession %></h4>
              </div>
              <p><%= feedback.description %></p>
            </div>
          </div>
        </div>
        <% } %> <% }else { %>
        <h1 class="mx-auto">Feedbacks Not Found!</h1>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/fixed_plugin') %> <%- include('../includes/end') %>
