<%- include('../includes/head') %>

<div class="wrapper">
  <%- include('../includes/sidebar') %>
  <div class="main-panel">
    <%- include('../includes/navbar') %>
    <div class="content">
      <div class="row">
        <div class="col-12">
          <% if(gallery && gallery.length ===5){ %>
          <h2>You can add only 5 images</h2>
          <% } else{ %>
          <button class="btn add-image-btn">Add Image</button>
          <h4 class="mt-2 mb-2">You must add 5 images!</h4>
          <% } %>
        </div>
      </div>
      <div class="row">
        <% if(gallery.length > 0) { %> <% for(let image of gallery) { %>
        <div class="col-lg-4">
          <div class="card card-chart">
            <div class="card-header">
              <div class="d-flex justify-content-between">
                <span>
                  <button
                    class="btn edit-image"
                    type="button"
                    value="<%= image._id %>"
                  >
                    <i class="tim-icons icon-pencil text-info"></i>
                  </button>
                </span>
                <span>
                  <button class="btn delete-image" value="<%= image._id %>">
                    <i class="tim-icons icon-trash-simple text-danger"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="card-body mx-auto">
              <img src="/<%= image.image %>" alt="" />
            </div>
          </div>
        </div>
        <% } %> <% }else { %>
        <h1 class="mx-auto">Image Not Found!</h1>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/fixed_plugin') %> <%- include('../includes/end') %>
