<%- include('../includes/head') %>

<div class="wrapper">
  <%- include('../includes/sidebar') %>
  <div class="main-panel">
    <%- include('../includes/navbar') %>
    <div class="content">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Add Partner</h4>
            </div>
            <div class="card-body">
              <div class="form">
                <form
                  action="/admin/<% if(editing){%>edit-partner<% }else{ %>partners<% } %>"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <div class="label" id="label">
                    <label for="partner-logo">Partner Logo</label>
                    <input
                      type="file"
                      name="image"
                      <% if(editing){ %>required<% } %>  
                    />
                  </div>
                  <div class="label" id="label">
                    <label for="partner-link">Link</label>
                    <input
                      type="url"
                      name="partner-link"
                      value="<% if(editing){ %><%= partner.link %><% } %>"
                      required
                    />
                  </div>
                  <% if(editing){ %>
                  <input
                    type="hidden"
                    value="<%= partner._id %>"
                    name="partnerId"
                  />
                  <% } %>
                  <button type="submit">
                    <% if(editing){ %>Update Partner<% }else{ %>Add Partner<% }
                    %>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <% if(partners.length > 0) { %> <% for(let partner of partners) { %>
        <div class="col-lg-4">
          <div class="card card-chart">
            <div class="card-header">
              <div class="d-flex justify-content-between">
                <span>
                  <a href="/admin/edit-partner/<%= partner._id %>?edit=true"
                    ><i class="tim-icons icon-pencil text-info"></i
                  ></a>
                </span>
                <span>
                  <form
                    class="delete-form"
                    action="/admin/delete-partner"
                    method="POST"
                  >
                    <input
                      type="hidden"
                      value="<%= partner._id %>"
                      name="partnerId"
                    />
                    <button
                      class="
                        delete-button
                        tim-icons
                        icon-trash-simple
                        text-danger
                      "
                      type="submit"
                    ></button>
                  </form>
                </span>
              </div>
            </div>
            <div class="card-body mx-auto">
              <img src="/<%= partner.logo %>" alt="" />
            </div>
          </div>
        </div>
        <% } %> <% }else { %>
        <h1 class="mx-auto">Partners Not Found!</h1>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/fixed_plugin') %> <%- include('../includes/end') %>
