<%- include('../includes/head') %>

<div class="wrapper">
  <%- include('../includes/sidebar') %>
  <div class="main-panel">
    <%- include('../includes/navbar') %>
    <div class="content">
      <button class="btn add-slide" type="button">Add Slide</button>
      <div class="row">
        <% if(slides.length > 0) { %> <% for(let slide of slides) { %>
        <div class="col-lg-4">
          <div class="card card-chart">
            <div class="card-header d-flex justify-content-between">
              <h3 class="card-title"><%= slide.title %></h3>
              <div class="d-flex">
                <span>
                  <button
                    class="btn edit-slide"
                    type="button"
                    value="<%= slide._id %>"
                  >
                    <i class="tim-icons icon-pencil text-info"></i>
                  </button>
                </span>
                <span>
                  <button class="btn delete-slide" value="<%= slide._id %>">
                    <i class="tim-icons icon-trash-simple text-danger"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="card-body mx-auto">
              <img src="/<%= slide.image %>" alt="" />
            </div>
            <div class="card-footer">
              <p><%= slide.description %></p>
            </div>
          </div>
        </div>
        <% } %> <% }else { %>
        <h1 class="mx-auto">Slides Not Found!</h1>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/fixed_plugin') %> <%- include('../includes/end') %>
