<%- include('../includes/head') %>
<div class="wrapper">
  <%- include('../includes/sidebar') %>
  <div class="main-panel">
    <%- include('../includes/navbar') %>
    <div class="content">
      <div class="row">
        <div class="col-md-10 offset-1">
          <div class="card">
            <div class="card-header d-flex">
              <h5 class="title">Edit Profile</h5>
            </div>
            <form class="update-admin-details">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5 pr-md-1">
                    <div class="form-group">
                      <label>Company (disabled)</label>
                      <input
                        type="text"
                        class="form-control"
                        disabled=""
                        placeholder="Company"
                        value="Az Pharm"
                      />
                    </div>
                  </div>
                  <div class="col-md-3 px-md-1">
                    <div class="form-group">
                      <label>Username</label>
                      <input
                        type="text"
                        name="userName"
                        class="form-control admin-name"
                        placeholder="Username"
                        value="<%= admin_data.name %>"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-4 pl-md-1">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input
                        type="email"
                        name="email"
                        class="form-control admin-email"
                        value="<%= admin_data.email %>"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">
                  Save
                </button>
              </div>
            </form>
          </div>
          <button class="btn btn-fill btn-primary update-password">
            Update Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/fixed_plugin') %> <%- include('../includes/end') %>
